# Visual Studio / Visual Studio Code
.vs/
.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/
.config/
*.user

# Build output
bin/
obj/

# NuGet packages
*.nuget.props
*.nuget.targets
packages/

# Node.js
node_modules/
package-lock.json
dist/
