# Visual Studio / Visual Studio Code
.vs/
.vscode/

# Build output
bin/
obj/

# NuGet packages
*.nuget.props
*.nuget.targets
# packages/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
# **/Properties/launchSettings.json

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# test-directory
test-dir/
test-doc/

node_modules/
src/services/Raggle.Server.Web/appsettings.Development.json
src/services/Raggle.AutoTask
