.root {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640.98px) {
    .root {

    }
}

@media (min-width: 641px) {
    .root {

    }
}
