.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  // border-bottom: var(--colorPalettePlatinumBorderActive);
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  user-select: none;
  font-size: 24px;
  cursor: pointer;

  img {
    width: 1.25em;
    height: 1.25em;
  }

  p {
    margin: 0;
    font-family: Times New Roman, serif;
    font-weight: 400;
    color: transparent;
    background: linear-gradient( #999cfc, #1b999c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1em;
    line-height: 1.25em;
  }
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}