@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; flex-direction: column">
    <a href="favicon.png">favicon</a>

    <a href="signup">Sign Up</a>
    <a href="signin">Sign In</a>

    <a href="ddd">error</a>
</div>
