@page "/signup"
@inject IToastService ToastService

<PageTitle>Sign Up</PageTitle>

<div class="container">
    <FluentCard Class="card" Width="800px" Height="400px">
        <FluentStack Orientation="Orientation.Horizontal">
            <img src="/images/logo.png" />
            <FluentSpacer Width="500" />
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField Label="Email"
                                TextFieldType="TextFieldType.Email"
                                Required="true"
                                @bind-Value="Request.UserName" />
                <FluentTextField Label="Password"
                                TextFieldType="TextFieldType.Password"
                                Required="true"
                                @bind-Value="Request.Password" />
                <FluentTextField Label="Password Confirm"
                                TextFieldType="TextFieldType.Password"
                                Required="true"
                                @bind-Value="Request.ConfirmPassword" />
                <FluentButton Loading="@loading"
                              OnClick="@HandleSubmit">
                    <FluentIcon Slot="start"
                                Value="@(new Icons.Regular.Size24.ArrowUpload())" />
                    Register
                </FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentCard>
</div>

@code {
    private bool loading = false;
    private SignUp Request { get; set; } = new SignUp
    {
        UserName = string.Empty,
        Password = string.Empty,
        ConfirmPassword = string.Empty
    };

    private Task HandleSubmit(MouseEventArgs args)
    {
        return Task.Run(() =>
        {
            loading = true;

            if (Validate())
            {
                Console.WriteLine("Good");
            }

            loading = false;
        });
    }

    private bool Validate()
    {
        if (string.IsNullOrWhiteSpace(Request.UserName))
        {
            ToastService.ShowToast(ToastIntent.Error, "username missing");
            return false;
        } 
        else if (string.IsNullOrWhiteSpace(Request.Password))
        {
            ToastService.ShowToast(ToastIntent.Error, "password missing");
            return false;
        }
        else if (string.IsNullOrWhiteSpace(Request.ConfirmPassword))
        {
            ToastService.ShowToast(ToastIntent.Error, "password confirm missing");
            return false;
        }
        else if (Request.Password != Request.ConfirmPassword)
        {
            ToastService.ShowToast(ToastIntent.Error, "not matched password");
            return false;
        }
        else
        {
            return true;
        }
    }
}
